/* CSS */


/* header */
* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    color: white;
    background: black;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;

}
h1, h1 > span{
    font-family: 'Butcherman', cursive;
    font-size: 5rem;
    letter-spacing: 2px;
}
span {
    margin-left: -1em;
}

.menu-items{
    height: 50px;
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}


/* Main Section */

.why-study{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color:white;
    font-size: 2em; 
    padding-top: 6vh 0;
    

}

.container{
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
    padding: 15px 0;
}

img, div > p { 
    width: 40vw;
    font-size: 1.5em;
}

/* footer */

footer {
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-size: 1.5em;
}

.test > p {
    padding: 8vh;
}



